<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
</head>
<body>
    <h3>Template Django</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias voluptatum blanditiis et omnis, autem eos. Ut nisi suscipit consequuntur officia, id, doloremque optio sequi iste molestias eum earum tempore temporibus? Cum ipsum fuga voluptate vel nulla esse error provident maxime incidunt, excepturi porro. Temporibus ad commodi obcaecati sequi, dolorum mollitia?</p>
</body>
</html>